/*
* COLOR SETTING
* Color Pallet Ref: https: //palx.jxnblk.com/
*/

// Theme A (oi-deyo JavaScript color)
// You can make color pallet on like website
// ex) https://www.colorhexa.com/
$theme-A-0 : #f9f1bb; // the most thin color 
$theme-A-1 : #f8eda9;
$theme-A-2 : #f6ea97;
$theme-A-3 : #f5e685;
$theme-A-4 : #f3e273;
$theme-A-5 : #f2df61;
$theme-A-6 : #f0db4f;
$theme-A-7 : #eed73d;
$theme-A-8 : #edd42b;
$theme-A-9 : #ebd019; // the darkest color 

// TheLoading.vue
$text-color : $theme-A-4; // 初期ロードメッセージの文字色
$text-shadow : $theme-A-2; // 初期ロードメッセージの文字の影色

// TheNavbar.vue
$navbar-bgcolor : $theme-A-5;